<aside class="col-2 border border-light p-2">
{% if is_granted('ROLE_ADMIN') %}

    <button type="button" class="btn btnRegister"><a href="{{path ('app_admin_emp')}}">Employés</a></button>
    <button type="button" class="btn btnRegister"><a href="{{path ('app_admin_serv')}}">Services</a></button>
    <button type="button" class="btn btnRegister"><a href="{{path ('schedules_list')}}">Horaires</a></button>
    <button type="button" class="btn btnRegister"><a href="{{path ('app_admin_hab')}}">Habitats</a></button>
    <button type="button" class="btn btnRegister"><a href="{{path ('app_admin_anim')}}">Animaux</a></button>
    <button type="button" class="btn btnRegister"><a href="#">Comptes rendus</a></button>
    <button type="button" class="btn btnRegister"><a href="#">Statistiques</a></button>


{% elseif is_granted('ROLE_EMPLOYEE') %}

    <button type="button" class="btn btnRegister"><a href="{{path ('app_emp_anim')}}">Soigner un animal</a></button>
    <button type="button" class="btn btnRegister"><a href="{{path ('app_admin_serv')}}">Modifier les services</a></button>
    <a class="btn btnRegister" href="https://mail.google.com/mail/u/2/?pli=1#inbox" class="btn btnRegister" target="_blank">Mail</a>
    <button type="button" class="btn btnRegister"><a href="{{path ('emp_opinion_list')}}">Avis a traiter</a></button>

{% elseif is_granted('ROLE_VETERINARY') %}

    <button type="button" class="btn btnRegister"><a href="{{path ('app_emp_anim')}}">Compte rendu</a></button>
    <button type="button" class="btn btnRegister"><a href="{{path ('app_services')}}">Commentaire habitat</a></button>
    <button type="button" class="btn btnRegister"><a href="{{path ('app_services')}}">Etat animal</a></button>

{% endif %}

</aside>