{% extends 'base.html.twig' %}

{% block title %}Habitats{% endblock %}

{% block body %}
{# Code intro habitat #}
<section class="titleServ">
    <h3 class="h3Hab">Habitats</h3>
    <div class="rectangle"></div>
</section>

<img class="habitat" src="{{ asset('/images/jungle/perroquets-couple.jpg') }}" alt="Entrée du zoo">
<div class="transparent-hab"></div>
<div class="habitincl">
    <p>Chaque jour, plusieurs vétérinaires viennent afin d’effectuer les contrôles sur chaque animal avant l’ouverture du zoo afin de s’assurer que tout se passe bien. De même, toute la nourriture donnée est calculée afin d’avoir le bon grammage.</p>
</div>

 {% for habitat in habitats %}
        <div class="banner">
            <h4>{{ habitat.name }}</h4>
            <img src="{{ asset('/images/vecteurs/bg_headerbis.png') }}" alt="Bannière colorée verte">
        </div>

        <div class='imgHab'>
            {% if habitat.images|length > 0 %}
                {% for image in habitat.images %}
                    <a href="{{ path('app_' ~ habitat.name|lower) }}"> 
                        <img src="{{ asset('uploads/images/' ~ image.filePath) }}" alt="{{ habitat.name }}" class="img-fluid">
                    </a>
                    <legend>{{ habitat.description }}</legend>
                {% endfor %}
            {% else %}
                <span>Pas d'image</span>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}
