{% extends 'base.html.twig' %}

{% block title %}Habitats{% endblock %}

{% block body %}
{# Code intro habitat #}
<section class="titleServ">
    <h3 class="h3Hab">Habitats</h3>
    <div class="rectangle"></div>
</section>

<img class="habitat" src="{{ asset('/images/jungle/perroquets-couple.jpg') }}" alt="Entrée du zoo">
<div class="transparent-hab"></div>
<div class="habitincl">
    <p>Chaque jour, plusieurs vétérinaires viennent afin d’effectuer les contrôles sur chaque animal avant l’ouverture du zoo afin de s’assurer que tout se passe bien. De même, toute la nourriture donnée est calculée afin d’avoir le bon grammage.</p>
</div>

{# Code jungle #}
<div class="banner">
    <h4>La jungle</h4>
    <img src="{{ asset('/images/vecteurs/bg_headerbis.png') }}" alt="Bannière colorée verte">
</div>

<div class='imgHab'>
    {% if habitat.images|length > 0 %}
        {% for image in habitat.images %}
            <a href="{{ path('app_jungle') }}"> <!-- Lien vers la page jungle -->
                <img src="{{ asset('uploads/images/' ~ image.filePath) }}" alt="{{ habitat.name }}" class="img-fluid">
            </a>
        {% endfor %}
    {% else %}
        <span>Pas d'image</span>
    {% endif %}
</div>

{# Code marais #}
<div class="banner">
    <h4>Le marais</h4>
    <img src="{{ asset('/images/vecteurs/bg_headerbis.png') }}" alt="Bannière colorée verte">
</div>

<div class="habitats">
    <a href="{{path ('app_marais')}}"><img class="imgHab" src="{{ asset('/images/marais/marais.jpg') }}" alt="Paysage des Marais"></a>
    <legend>Les marais sont des écosystèmes humides où l'eau stagne. Les plantes et les animaux qui y vivent doivent être adaptés à cette humidité constante. Nous avons créé un espace qui imite cet habitat pour ses occupants :</legend>
</div>

{# Code savane #}
<div class="banner">
    <h4>La savane</h4>
    <img src="{{ asset('/images/vecteurs/bg_headerbis.png') }}" alt="Bannière colorée verte">
</div>

<div class="habitats">
    <a href="{{path ('app_savane')}}"><img class="imgHab" src="{{ asset('/images/savane/savane.jpg') }}" alt="Paysage de la savane"></a>
    <legend>La savane est une étendue herbeuse avec quelques arbres, caractéristique des régions chaudes et sèches. C'est un habitat propice aux grands herbivores et leurs prédateurs. Nous avons recréé cet environnement pour ses habitants :</legend>
</div>



{% endblock %}
