{% extends 'base.html.twig' %}

{% block title %}RGPD{% endblock %}

{% block body %}

<div class="espace"></div>

<div class="banner">
    <h4>RGPD</h4>
    <img src={{asset("/images/vecteurs/bg_headerbis.png")}} alt="Bannière colorée verte">
</div>

<section class="text">
    <p>
    La notion de « donnée à caractère personnel » ou « données  personnelles » correspond à la définition
    donnée par l’article 4 du  Règlement Général de l’Union Européenne sur la protection des Données
    (RGPD 2016/679) c’est-à-dire à toute information susceptible de  permettre l’identification d’une personne
    physique de manière directe ou  indirecte : nom, prénom, adresse IP, adresse email, etc.

    Le Parc Zoologique Arcadia affirme son attachement au respect des  lois et règlements applicables en matière
    de protection des données, et  s’engage à préserver leur sécurité, leur confidentialité et leur  intégrité.

    Pour vous délivrer nos services, nous avons besoin de collecter et  traiter des données personnelles
    vous concernant. Nous attachons la plus  grande importance à en faire un usage responsable et respectueux de
    votre confiance. Ainsi, nous mettons tout en œuvre pour garantir la  confidentialité et la sécurité de celles-ci.
    </p>
</section>

<div class="banner">
    <h4>Quelles données et pourquoi ?</h4>
    <img src={{asset("/images/vecteurs/bg_headerbis.png")}} alt="Bannière colorée verte">
</div>

<section class="text">
    <p>
    Pour profiter de nos services, vous nous communiquer certaines  données telles que votre nom, votre adresse postale,
    votre numéro de  téléphone, votre email, votre adresse postale et vos coordonnées  bancaire.
    </p>
</section>

<div class="banner">
    <h4>Comment nous déterminons la durée de conservation de vos données ?</h4>
    <img src={{asset("/images/vecteurs/bg_headerbis.png")}} alt="Bannière colorée verte">
</div>

<section class="text">
    <p>
    Vos communications nécessitent un traitement de données  techniques liées aux différents réseaux.
    La collecte et le traitement de  ces informations sont indispensables pour :<br>
        <br>
    Le Parc Zoologique Arcadia est susceptible de traiter tout ou partie des données :<br>
    Pour  permettre la navigation sur le Site et la gestion et la traçabilité des  prestations et services commandés par l’utilisateur : données de  connexion et d’utilisation du Site, facturation, historique des  commandes, mode de règlement, etc.,<br>
    Pour prévenir et lutter  contre la fraude informatique (spamming, hacking…) : matériel  informatique utilisé pour la navigation, l’adresse IP, le mot de passe  (hashé),<br>
    Pour améliorer la navigation sur le Site : données de connexion et d’utilisation,<br>
    Pour mener des enquêtes de satisfaction facultatives qui vous seront envoyées par e-mail,<br>
    Pour mener des campagnes de communication (sms, mail) : numéro de téléphone, adresse email,<br>
    Pour répondre à une obligation légale.<br>
        <br>
    Le  Parc Zoologique Arcadia ne commercialise pas vos données  personnelles, elles sont donc uniquement utilisées
    par nécessité ou à  des fins statistiques et d’analyses<br>
    </p>
</section>

<div class="banner">
    <h4>La lutte contre la fraude</h4>
    <img src={{asset("/images/vecteurs/bg_headerbis.png")}} alt="Bannière colorée verte">
</div>

<section class="text">
    <p>
    Nous déterminons les durées de conservation de vos données en  fonction des dispositions légales applicables conforment aux lois en  vigueur.<br>
    Vous trouverez ci-dessous le détail des durées de  conservation de vos données personnelles en fonction des différentes  finalités :<br>
        <br>
    La gestion de la relation bancaire, du (des) compte(s) et/ou  des produits et services souscrits, notamment pour des besoins de  preuve.<br>
    La réalisation d’études d’opinion et de satisfaction et d’études statistiques et patrimoniales.<br>
        <br>
    La gestion, l’étude et l’octroi de crédits et des assurances associées, la sélection des risques.
    </p>
</section>

<div class="banner">
    <h4>Durées de conservation</h4>
    <img src={{asset("/images/vecteurs/bg_headerbis.png")}} alt="Bannière colorée verte">
</div>

<section class="text">
    <p>
    Le respect des obligations légales et réglementaires, notamment en matière de gestion du risque opérationnel
    (dont la sécurité  des réseaux informatiques et des transactions ainsi que celle de  l’utilisation des réseaux
    de paiements internationaux), de la lutte  contre le blanchiment des capitaux et le financement du terrorisme,
    d’obligations liées aux marchés financiers, et la détermination du  statut fiscal.<br>
        <br>
    L’identification des comptes et coffres-forts des personnes décédées,<br>

    Le recouvrement ou la cession de créances, gestion des incidents de paiement,<br>

    L’identification de comportements ou des actes gravement répréhensibles,<br>
        <br>
    L’enregistrement de vos conversations et communications, quel  que soit leur support (e-mails, fax, entretiens
    téléphoniques, etc.),  aux fins d’amélioration de l’accueil téléphonique, de respect des  obligations légales
    et réglementaires relatives aux marchés financiers,  et de sécurité des transactions effectuées.<br>
        <br>
    Le développement et l’amélioration de nos produits et  services. La personnalisation et l’amélioration continuelle de la 
    relation commerciale afin d’adapter les offres à votre situation et à  votre profil.<br>
        <br>
    La prospection commerciale, la proposition d’offres  commerciales adaptées à votre situation et à votre profil, et/ou
    que  nous vous conseillons, la réalisation d’animations commerciales et de  campagnes publicitaires par elle-même et par
    les entités de son groupe.
    </p>
</section>

<div class="banner">
    <h4>Sécurité de vos données</h4>
    <img src={{asset("/images/vecteurs/bg_headerbis.png")}} alt="Bannière colorée verte">
</div>

<section class="text">
    <p>
    5 ans à compter de la fin de la relation commerciale, le cas échéant, la fin du recouvrement,<br>
    3 ans à compter de la réalisation de l’étude,<br>
    5 ans au-delà de la durée du crédit, 12 mois à compter de la notification de la décision de la banque si le crédit n’est pas consenti,<br>
    5 ans à compter de la clôture du dossier fraude,<br>
    5 ans à compter du fait générateur prévu par la réglementation en vigueur,<br>
    30 ans en fonction des cas prévus par la réglementation en vigueur,<br>
    12 mois à compter de l’extinction de la créance,<br>
    10 ans à compter de l’enregistrement des faits dans nos systèmes,<br>
    7 ans à compter de leur enregistrement en fonction de cas visés par la réglementation,<br>
    3 ans à compter de la fin de la relation commerciale,<br>
    3 ans à compter de la fin de la relation commerciale,<br>
    </p>
</section>

<div class="banner">
    <h4>Vos droits</h4>
    <img src={{asset("/images/vecteurs/bg_headerbis.png")}} alt="Bannière colorée verte">
</div>

<section class="text">
    <p>
    
    Nous attachons une grande importance à conserver vos données  en garantissant leur intégrité et leur confidentialité.
    Vos données  personnelles sont partagées avec des tiers sélectionnés par nos soins.  Cela peut être le cas avec des
    prestataires comme des éditeurs ou des  constructeurs, des sociétés affiliées et notre réseau professionnel.<br>
        <br>
    Nous  confions le stockage à un prestataire de confiance, vos données sont  dans l’Union Européenne pour gérer votre
    contrat, vos services et/ou  vous proposer nos offres.<br>
        <br>
    Lorsque nous transférons vos données  hors de l’Union Européenne, nous vous garantissons le même niveau de  protection
    que dans l’ensemble de l’Union Européenne, parce que nos  prestataires se sont engagés à se conformer aux clauses
    contractuelles  types établies par la Commission Européenne.<br>
    Dans l’hypothèse où  un tiers non autorisé aurait accès à vos données, nous vous en  informerions et en aviserions
    également la Commission Nationale  Informatique et Libertés.<br>
        <br>
    Le Parc Zoologique Arcadia utilise-t-il des traitements de profilage à des fins de prospection commerciale ?
    Le Parc Zoologique Arcadia peut être amenée à proposer des offres personnalisées ou non personnalisées à ses clients.
    Dans  le cadre d’offres personnalisées, le Parc zoologique d’Amnéville pourra  utiliser certaines de vos données afin
    d’établir votre profil  individualisé.<br>
    Dans le cadre d’offres non personnalisées, le Parc  zoologique d’Amnéville pourra utiliser certaines de vos données
    pour vous associer à une catégorie de clients ou de services qui vous  correspond.<br>
    Dans ces deux cas, vous avez toujours la possibilité de vous opposer à ces traitements.<br>
        <br>
    Vous disposez de plusieurs droits sur les données vous concernant :<br>
    Vous pouvez choisir, à tout moment et gratuitement, de faire usage de votre droit d’opposition.<br>
    Vous avez un droit d’accès à vos données.<br>
    Vous avez un droit de rectification de vos données.<br>
    Vous disposez d’un droit à l’oubli.<br>
    Vous avez un droit à la limitation.<br>
    Vous avez un droit à la portabilité des données.<br>
    Enfin,  si vous estimez que le traitement de vos données a été effectué en  violation de la réglementation applicable,
    vous avez le droit  d’introduire une réclamation auprès de la Commission Nationale Informatique et Libertés.<br>
        <br>
    Vous pouvez exercer vos droits en vous adressant à notre Délégué à la Protection des Données.<br>
        <br>
    Il est accessible par courrier postale à :<br>
    Mr le DPO, 1 rue du Tigre, 57360 Brest<br>
        <br>
    Si  vous êtes mineurs, ces droits seront exercés par le titulaire de  l’autorité parentale avant vos 15 ans,<br>
    vous pourrez exercer directement  vos droits lorsque vous aurez 15 ans.<br>
        <br>
    Concernant la  confidentialité de vos données, nous nous réservons le droit de vous  demander de nous fournir des
    justificatifs d’identité nous permettant de  nous assurer de votre identité.
    </p>
</section>

{% endblock %}