
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {% for message in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    {% for message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    
<section class="discover">
    <div class="rectangle"></div>

    <h3>Découvrez le Monde Merveilleux <br>
    des animaux au Zoo Arcadia</h3>

    <img class="accueil" src={{asset("/images/img1-accueil.jpg")}} alt="Entrée du zoo">

    <div class="tranparent"></div>
    <div class="welcome">
        <p>Bienvenue à Arcadia, où chaque visite <br>
        est une aventure inoubliable au cœur de la nature! <br>
        Situé près de la fôrêt de Brocéliande, en Bretagne depuis 1960, <br>
        notre zoo vous invite à explorer une incroyable diversité d'animaux <br>
        venus des quatre coins du monde, dans un cadre familial et éducatif.</p>
    </div>
</section>

<div class="banner">
    <h4>Animaux favoris</h4>
    <img src={{asset("/images/vecteurs/bg_headerbis.png")}} alt="Bannière colorée verte">
</div>

<section class="animaux">
    <div class="row">
        {% for animal in topAnimals %}
            <div class="card {{ animal.idHabitats.name|lower }}">
                <img class="card-img" src="{{ asset('uploads/animals/mini/250x250-' ~ animal.images[0].getFilePath) }}" alt="{{ animal.nameAnimal }}" class="img-thumbnail" width="100">
                <div class="card-body">
                    <h5 class="card-title">{{ animal.nameAnimal }}</h5>
                    <p class="card-text">{{ animal.description }}</p>
                    
                    <!-- Bouton Détails -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-{{ animal.id }}" data-id="{{ animal.id }}" data-habitat="{{ animal.idHabitats.name|lower }}">
                        Détails
                    </button>

                    <!-- Modal -->
                        <div class="modal fade" id="modal-{{ animal.id }}" tabindex="-1" aria-labelledby="modalLabel-{{ animal.id }}" aria-hidden="true">                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title fs-5" id="modalLabel-{{ animal.id }}">{{ animal.nameAnimal }}</h3>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img class="img-thumbnail" src="{{ asset('uploads/animals/mini/250x250-' ~ animal.images[0].getFilePath) }}" alt="{{ animal.nameAnimal }}" width="100">
                                    <p>{{ animal.description }}</p>
                                    <h4>Comptes rendus</h4>
                                    <div class="table-responsive-modal">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Commentaire</th>
                                                    <th>Aliments donnés</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for report in reportsByAnimal[animal.id] %}
                                                    <tr>
                                                        <td>{{ report.date|date('d/m/Y H:i') }}</td>
                                                        <td>{{ report.comment }}</td>
                                                        <td>{{ report.idFoods.name }} - {{ report.weight }} {{ report.unit }}</td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td colspan="3">Aucun rapport disponible.</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- Fin de .card-body -->
            </div> <!-- Fin de .card -->
        {% endfor %}
    </div>
</section>

{# Réglage de la fermeture du modal #}
{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% for animal in topAnimals %}
        // Cibler le bouton de fermeture pour chaque modal
        var closeButton = document.querySelector('#modal-{{ animal.id }} .btn-close');
        var modalElement = document.getElementById('modal-{{ animal.id }}');
        var modal = new bootstrap.Modal(modalElement);

        closeButton.addEventListener('click', function() {
            modal.hide();  // Utiliser bootstrap.Modal pour fermer explicitement
        });
        {% endfor %}
    });
</script>
{% endblock %}



<div class="banner">
    <h4>Les habitats</h4>
    <img src={{asset("/images/vecteurs/bg_headerbis.png")}} alt="Bannière colorée verte">
</div>
    
<section class="habitats">
    {% if habitats is not empty %}
        {% for habitat in habitats %}
        <div>
            <div class='imgHab'>
            {% if habitat.images|length > 0 %}
                {% for image in habitat.images %}
                    <a href="{{ path('app_' ~ habitat.name|lower) }}"> 
                        <img src="{{ asset('uploads/images/' ~ image.filePath) }}" alt="{{ habitat.name }}" class="img-fluid">
                    </a>
                {% endfor %}
                {% else %}
                    <span>Pas d'image</span>
                {% endif %}
            </div>
            <div class='legend'>
                {{ habitat.name }}
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>Aucun habitat trouvé.</p>
    {% endif %}
</section>

<div class="banner">
    <h4>Nos services</h4>
    <img src={{asset("/images/vecteurs/bg_headerbis.png")}} alt="Bannière colorée verte">
</div>
    
<section class="nos-services">
    <div>
        <a href="{{path ('app_services')}}#resto"><img src={{asset("/images/cafe.jpg")}} alt="Terrasse de café"></a>
        <legend>Restauration</legend>
    </div>
    <div>
        <a href="{{path ('app_services')}}#visite"><img src={{asset("/images/rencontre.jpg")}} alt="Visite de la girafe"></a>
        <legend>Visites guidées</legend>
    </div>
    <div>
        <a href="{{path ('app_services')}}#train"><img src={{asset("/images/petit-train.jpg")}} alt="Petit train touristique"></a>
        <legend>Le petit train</legend>
    </div>
</section>

<div class="banner">
    <h4>Avis</h4>
    <img src={{asset("/images/vecteurs/bg_headerbis.png")}} alt="Bannière colorée verte">
</div>

<section id="avis" class="avis">

    <!-- ici sera injecté les avis -->

    <ul>
        {% for opinion in opinions %}
        <li>
            <strong>{{ opinion.pseudo }}</strong>: <em>{{ opinion.title }}</em> - {{ opinion.date }} <br>
            <div class="star-rating">
                {% for i in 1..5 %}
                    <span class="star {% if i <= opinion.star %}selected{% endif %}">★</span>
                {% endfor %}
            </div><br>
            {{ opinion.comment }}
        </li>
    {% else %}
        <li>Aucun avis disponible.</li>
    {% endfor %}
    </ul>

    <!-- Button modal avis-->
    <button type="button" class="btn btnAvis" data-bs-toggle="modal" data-bs-target="#exampleModal">Laisser un avis</button>
</section>

{# Ouverture du modal avis #}
{% include "employee/opinion/index.html.twig" %}

<div class="banner" id="schedules">
    <h4>Horaires</h4>
    <img src={{asset("/images/vecteurs/bg_headerbis.png")}} alt="Bannière colorée verte">
</div>

<div class="schedules">
    <table>
    <tbody>
        {% for schedule in schedules %}
            <tr>
                <td colspan="4"><strong>{{ schedule['name'] }}</strong></td>
            </tr>
            {% for entry in schedule['entries'] %}
                <tr>
                    <td>{{ entry['day'] }}</td>
                    {% if entry['closed'] %}
                        <td colspan="2"><strong>Fermé</strong></td>
                    {% else %}
                        <td>{{ entry['open'] }}</td>
                        <td>{{ entry['close'] }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">Aucun horaire disponible.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>


<div class="banner" id="search">
    <h4>Où nous trouver ?</h4>
    <img src={{asset("/images/vecteurs/bg_headerbis.png")}} alt="Bannière colorée verte">
</div>

<div class="discover3">
    <h3 class="search">Nous avons hâte de vous accueillir <br>
        et de partager avec vous <br>
        la magie de la vie sauvage!</h3>
    <div class="rectangle2"></div>
</div>

{# Maps #}
<div class="maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d170798.9910155111!2d-2.4251032!3d48.0188442!3m2!1i1024!2i768!4f13.1!2m1!1sbroceliande!5e0!3m2!1sfr!2sfr!4v1726814144091!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

{% endblock %}