{% extends 'base.html.twig' %}

{% block title %}Modifier un habitat{% endblock %}


{% block body %}

    <div class="containerAdmin">
        <div class="row">
            {% include "_partials/_adminnav.html.twig" %}
            <main class="col-9 border bg-white p-2">
                <h4>Modifier un habitat</h4>
                <a href="{{ path('admin_habitat_add') }}" class="btn btn-success">Ajouter un habitat</a>  
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Actions</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for habitat in habitats %}
                            <tr>
                                <td>{{ habitat.name}}</td>
                                <td>{{ habitat.description}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" href="{{ path('admin_habitat_modif', { id: habitat.id }) }}">Modifier</a>
                                    <form action="{{ path('habitat_delete', { id: habitat.id }) }}" method="post" onsubmit="return confirm('Es-tu sûr de vouloir supprimer cet habitat?');" style="display:inline;">
                                        <button class="btn btn-danger" type="submit">Supprimer</button>
                                    </form>
                                </td>
                                {# <td>{{ habitat.image}}</td> #}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </main>
        </div>
    </div>

{% endblock %}