{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}

    {# Code intro service #}
    <section class="titleServ">
        <h3 class="h3Serv">Nos Services</h3>
        <div class="rectangle"></div>
    </section>

    <img class="accueil" src={{asset("/images/img_service.jpg")}} alt="Entrée du zoo">
    <div class="tranparentserv"></div>
    <div class="servincl">
        <p>Pensé pour vous, nos services vous comblerons.<br>
            Nos services incluent :
    </div>

        {# Caroussel #}
    <div class="carousel">
        <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="2500">
            <div class="carousel-inner">
                <div class="carousel-item active w-60">
                    <img src="{{ asset('/images/repas2bis.png') }}" class="d-block" alt="...">
                </div>
                <div class="carousel-item w-60">
                    <img src="{{ asset('/images/pizza2.png') }}" class="d-block" alt="...">
                </div>
                <div class="carousel-item w-60">
                    <img src="{{ asset('/images/hamburger.png') }}" class="d-block" alt="...">
                </div>
                <div class="carousel-item w-60">
                    <img src="{{ asset('/images/repasbis.png') }}" class="d-block" alt="..."> 
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    {# Code restauration #}
{% for service in services %}
    <div class="banner">
        <h4>{{ service.name }}</h4>
        <img src="{{ asset('/images/vecteurs/bg_headerbis.png') }}" alt="Bannière colorée verte">
    </div>
    <div class="service-item">
        {% if service.images is not empty %}
            {% for image in service.images %}
                <img src="{{ asset('uploads/services/' ~ image.filePath) }}" alt="{{ service.name }}" class="img-fluid">
            {% endfor %}
        {% endif %}
        <div class="habitjung">{{ service.description }}</div>
    </div>
{% endfor %}

    {# Code écologie #}
    <div class="banner">
        <h4>Engagement écologique</h4>
        <img src={{asset("/images/vecteurs/bg_headerbis.png")}} alt="Bannière colorée verte">
    </div>

    <div class="panels">
        <img src={{asset("/images/vecteurs/solar-panels.png")}} alt="Dessin une maison avec panneaux solaire">
        <p>Au Zoo Arcadia, nous sommes passionnés par la conservation des espèces et la protection de la biodiversité.<br>
        En visitant notre zoo, vous soutenez nos efforts de préservation et contribuez directement à la protection
        des animaux en voie de disparition. Le zoo est  entièrement indépendant au niveau des énergies.
    </div>

    <div class="ecolo">
        <img src={{asset("/images/vecteurs/ecolo.png")}} alt="Dessin représentant l'écologie">
    </div>

{% endblock %}

