{% extends 'baseDash.html.twig' %}

{% block title %}Liste des rapports{% endblock %}

{% block body %}
    <div class="containerAdmin">
        <div class="row dash">
            {% include "_partials/_adminnav.html.twig" %}
            <main class="col-9 border bg-white p-2">
                <h4>Rapports habitats</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <td class="action">
                            <a class="btn btn-primary" href="{{ path('app_report_vet_new') }}">Créer</a>
                        </td>
                            <tr>
                                <th>Nom de l'habitat</th>
                                <th>Commentaire</th>
                                <th>Date</th>
                                <th>Employé</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for report in reports %}
                                <tr>
                                    <td>{{ report.idHabitats.name }}</td>
                                    <td>{{ report.comment }}</td>
                                    <td>{{ report.date|date('d/m/Y') }}</td>
                                    <td>{{ report.idUsers.firstName }} {{ report.idUsers.Name }}</td>
                                    <td>
                                        <form action="{{ path('vet_comHab_delete', {id: report.id}) }}" method="post" onsubmit="return confirm('Es-tu sûr de vouloir supprimer ce commentaire ?');" style="display:inline;">
                                            <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
