{% extends 'baseDash.html.twig' %}

{% block title %}Liste des rapports{% endblock %}

{% block body %}
    <div class="containerAdmin">
        <div class="row dash">
            {% include "_partials/_adminnav.html.twig" %}
            <main class="col-9 border bg-white p-2">
                <h4>Rapports habitats</h4>
                <a href="{{ path('vet_com_add') }}" class="btn btn-success">Créer</a>
                <form method="get" action="{{ path('vet_com_list') }}">
                    <div class="mb-3">
                        <label for="habitat" class="form-label">Sélectionnez un habitat</label>
                        <select name="habitat" id="habitat" class="form-select" onchange="this.form.submit()">
                            <option value="">Tous les habitats</option>
                            {% for habitat in habitats %}
                                <option value="{{ habitat.id }}" {% if selectedHabitat == habitat.id %}selected{% endif %}>
                                    {{ habitat.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom de l'habitat</th>
                                <th>Commentaire</th>
                                <th>Date</th>
                                <th>Employé</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for report in reports %}
                                <tr>
                                    <td>{{ report.idHabitats.name }}</td>
                                    <td>{{ report.comment }}</td>
                                    <td>{{ report.date|date('d/m/Y H:i') }}</td>
                                    <td>{{ report.idUsers.firstName }} {{ report.idUsers.name }}</td>
                                    <td>
                                        <a href="{{ path('vet_com_add', {'habitat': report.idHabitats.id}) }}" class="btn btn-primary">Créer</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">Aucun rapport trouvé pour l'habitat sélectionné.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
