{% extends 'baseDash.html.twig' %}

{% block title %}Rapport{% endblock %}

{% block body %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<div class="containerAdmin">
    <div class="row dash">
        {% include "_partials/_adminnav.html.twig" %}

        <main class="col-9 border bg-white p-2">
        <div>
            <h4>Faire un nouveau rapport</h4>
        </div>

            <div class="table-responsive">

            {{ form_start(form) }}

            {# Vérification et affichage de l'image de l'animal #}
            {% if form.idAnimals.vars.data and form.idAnimals.vars.data.images|length > 0 %}
                <div class="animal-image">
                    <img src="{{ asset('uploads/animals/mini/250x250-' ~ form.idAnimals.vars.data.images[0].getFilePath) }}" 
                         alt="{{ form.idAnimals.vars.data.nameAnimal }}" class="img-report" width="100">
                </div>
            {% else %}
                <p>Aucune image disponible</p>
            {% endif %}
                <container class="reportEmp">
                    {{ form_row(form.date) }}
                    {{ form_row(form.idUsers) }}
                    {{ form_row(form.idAnimals, { 'label': 'Nom de l\'animal' }) }}
                    {{ form_row(form.idFoods, { 'label': 'Alimentation' }) }}
                    {{ form_row(form.weight, { 'label': 'Quantité' }) }}
                    {{ form_row(form.unit, { 'label': 'Unité' }) }}
                    {{ form_row(form.comment, { 'label': 'Commentaire' }) }}
                    {{ form_end(form) }}
                </container>
            </main>
        </div>
        <a class="btn btn-secondary mt-3" href="{{ path('app_admin_hab') }}">Retour à la liste</a>
    </div>
</div>

{% endblock %}
