{% extends 'baseDash.html.twig' %}

{% block title %}Soigner un animal{% endblock %}

{% block body %}

    <div class="containerAdmin">
        <div class="row dash">
            {% include "_partials/_adminnav.html.twig" %}
            <main class="col-9 border bg-white p-2">
                {% if is_granted('ROLE_EMPLOYEE') and not is_granted('ROLE_VETERINARY') %}
                <h4>Soigner un animal</h4>
                {% elseif is_granted('ROLE_EMPLOYEE') %}
                <h4>Comptes rendus employés</h4>
                {% endif %}
                <div class="table-responsive">
                    <table class="table">
                        <!-- Formulaire de filtrage -->
                        <form method="get" class="mb-3">
                            <div class="form-group">
                                <select id="breed" name="breed" class="form-control">
                                    <option value="">Sélectionner une race</option>
                                    {% for race in races %}
                                        <option value="{{ race.breed }}">{{ race.breed }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="filter btn btn-primary">Filtrer</button>
                        </form>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Image</th>
                                <th>Race</th>
                                <th>Habitat</th>
                                {% if is_granted('ROLE_VETERINARY') %}
                                    <th>Rapport employé</th>
                                    <th>Repas</th>
                                {% endif %}
                                {% if is_granted('ROLE_EMPLOYEE') and not is_granted('ROLE_VETERINARY') %}
                                <th>Actions</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody class="animals">
                            {% for animal in animals %}
                                <tr>
                                    <td>{{ animal.nameAnimal }}</td>
                                    <td class="image">
                                        {% if animal.images|length > 0 %}
                                            <img src="{{ asset('uploads/animals/mini/250x250-' ~ animal.images[0].getFilePath) }}" alt="{{ animal.nameAnimal }}" class="img-report" width="100">
                                        {% else %}
                                            <p>Aucune image disponible</p>
                                        {% endif %}
                                    </td>
                                    <td>{{ animal.breed }}</td>
                                    <td>{{ animal.idHabitats.name }}</td>
                                    {% if is_granted('ROLE_VETERINARY') %}
                                        <td>
                                            {% if animal.reports is empty %}
                                                <p>Aucun rapport</p>
                                            {% else %}
                                                {% for report in animal.reports %}
                                                    <p>
                                                        {{ report.date|date('d/m/Y') }} - {{ report.comment }}<br>
                                                        Aliments : {{ report.idFoods.name }} - Quantité : {{ report.weight }} {{ report.unit }}
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if animal.reports is not empty %}
                                                {% for report in animal.reports %}
                                                    <p>
                                                        {{ report.idFoods.name }} - {{ report.weight }} {{ report.unit }}
                                                    </p>
                                                {% endfor %}
                                            {% else %}
                                                <p>Aucun repas enregistré</p>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                    {% if is_granted('ROLE_EMPLOYEE') and not is_granted('ROLE_VETERINARY') %}
                                    <td class="action">
                                        <a class="btn btn-primary" href="{{ path('emp_report_add', { id: animal.id }) }}">Créer</a>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>   
            </main>
        </div>
    </div>

{% endblock %}
