{% extends 'base.html.twig' %}

{% block title %}Soigner un animal{% endblock %}


{% block body %}

    <div class="containerAdmin">
        <div class="row">
            {% include "_partials/_adminnav.html.twig" %}
            <main class="col-9 border bg-white p-2">
                <h4>Soigner un animal</h4>
                <table class="table">

                <!-- Formulaire de filtrage -->
                <form method="get" class="mb-3">
                    <div class="form-group">
                        <label for="breed">Filtrer par race</label>
                        <select id="breed" name="breed" class="form-control">
                            <option value="">Sélectionner une race</option>
                            {% for race in races %}
                                <option value="{{ race.breed }}">{{ race.breed }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Filtrer</button>
                </form>

                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Race</th>
                            <th>Habitat</th>
                            {# <th>Image</th> #}
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for animal in animals %}
                            <tr>
                                <td>{{ animal.nameAnimal }}</td>
                                <td>{{ animal.breed}}</td>
                                <td>{{ animal.idHabitats.name }}</td>
                                {# <td><img src="{{ asset('assets/uploads/animal/mini/300x300-'
                                animal.images[0].name)}}" alt="{{ animal.nameAnimal }}"
                                class="img-thumbnail"</td> #}
                                <td>
                                    <a href="{{ path('admin_anim_add') }}" class="btn btn-success">Faire un rapport</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                   
            </main>
        </div>

    </div>

{% endblock %}