{% extends 'baseDash.html.twig' %}

{% block title %}Soigner un animal{% endblock %}

{% block body %}

    <div class="containerAdmin">
        <div class="row dash">
            {% include "_partials/_adminnav.html.twig" %}
            <main class="col-9 border bg-white p-2">
                <h4>Soigner un animal</h4>
                <div class="table-responsive">
                    <table class="table">
                        <!-- Formulaire de filtrage -->
                        <form method="get" class="mb-3">
                            <div class="form-group">
                                <select id="breed" name="breed" class="form-control">
                                    <option value="">Sélectionner une race</option>
                                    {% for race in races %}
                                        <option value="{{ race.breed }}">{{ race.breed }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="filter btn btn-primary">Filtrer</button>
                        </form>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Image</th>
                                <th>Race</th>
                                <th>Habitat</th>
                                <th>Repas</th>
                                <th>État</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="animals">
                            {% for animal in animals %}
                                <tr>
                                    <td>{{ animal.nameAnimal }}</td>
                                    <td class="image">
                                        {% if animal.images|length > 0 %}
                                            <img src="{{ asset('uploads/animals/mini/250x250-' ~ animal.images[0].getFilePath) }}" alt="{{ animal.nameAnimal }}" class="img-report" width="100">
                                        {% else %}
                                            <p>Aucune image disponible</p>
                                        {% endif %}
                                    </td>
                                    <td>{{ animal.breed }}</td>
                                    <td>{{ animal.idHabitats.name }}</td>
                                    <td>
                                        {% if animal.reports is not empty %}
                                            {% for report in animal.reports %}
                                                <p>
                                                    {{ report.idFoods.name }} - {{ report.weight }} {{ report.unit }}
                                                </p>
                                            {% endfor %}
                                        {% else %}
                                            <p>Aucun repas enregistré</p>
                                        {% endif %}
                                    </td>
                                    <td class="action">
                                        <form action="{{ path('animal_status_edit', {id: animal.id}) }}" method="post" class="status">
                                            <input type="hidden" name="_token" value="{{ csrf_token('edit_status_' ~ animal.id) }}">
                                            <select name="state" class="form-select">
                                                <option value="Bonne santé" {% if animal.state == 'Bonne santé' %}selected{% endif %}>Bonne santé</option>
                                                <option value="Santé moyenne" {% if animal.state == 'Santé moyenne' %}selected{% endif %}>Santé moyenne</option>
                                                <option value="Malade" {% if animal.state == 'Malade' %}selected{% endif %}>Malade</option>
                                            </select>

                                            <button type="submit" class="btn btn-sm btn-success mt-2"><i class="fa-solid fa-check"></i></button>
                                        </form>
                                    </td>
                                    <td class="action">
                                        <a class="btn btn-primary" href="{{ path('emp_report_add', { id: animal.id }) }}">Créer</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>   
            </main>
        </div>
    </div>

{% endblock %}
