{% extends 'baseDash.html.twig' %}

{% block title %}Modifier un employé{% endblock %}


{% block body %}

{% for label, messages in app.flashes %}
    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

    <div class="containerAdmin">
        <div class="row dash">
            {% include "_partials/_adminnav.html.twig" %}
            <main class="col-9 border bg-white p-2">
                <h4>Modifier un service</h4>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_services_add') }}" class="btn btn-success">Ajouter</a>
                {% endif %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Description</th>
                                <th>Image</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for service in services %}
                                <tr>
                                    <td>{{ service.name}}</td>
                                    <td>{{ service.description}}</td>
                                    <td class="image">...
                                    </td>
                                    <td class="action">
                                        <a href="{{ path('admin_services_modif', { id: service.id }) }}" class="btn btn-primary">Modifier</a>
                                        {# <a href="{{ path('admin_services_modif', { id: service.id }) }}">Modifier</a> #}
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <form action="{{ path('services_delete', { id: service.id }) }}" method="post" onsubmit="return confirm('Es-tu sûr de vouloir supprimer ce service?');" style="display:inline;">
                                            <button class="btn btn-danger" type="submit">Supprimer</button>
                                        {% endif %}
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>

{% endblock %}
