{% extends 'base.html.twig' %}

{% block title %}Savane{% endblock %}

{% block body %}

<section class="titleServ">
    <h3 class="h3Hab">Savane</h3>
    <div class="rectangle"></div>
</section>

<div class='habitat'>
    {% if habitat.images|length > 0 %}
        {% for image in habitat.images %}
                <img src="{{ asset('uploads/images/' ~ image.filePath) }}" alt="{{ habitat.name }}" class="img-fluid">
                <div class="habitjung">{{ habitat.description }}</div>
        {% endfor %}
    {% else %}
        <span>Pas d'image</span>
    {% endif %}
</div>

<section class="latest-report">
    <h4>Dernier rapport vétérinaire sur cet habitat</h4>
    {% if latestReport %}
    <p>Dernier rapport vétérinaire pour cet habitat : {{ latestReport.date|date('d-m-Y H:i') }}</p>
    <p>{{ latestReport.comment }}</p>
{% else %}
    <p>Aucun rapport vétérinaire disponible pour cet habitat.</p>
{% endif %}
</section>

{# Cards d'animaux de la savane #}
<section class="animaux">
    <div class="row">
        {% for animal in savaneAnimals %}
                <div class="card savane">
                    <img class="card-img" src="{{ asset('uploads/animals/mini/250x250-' ~ animal.images[0].getFilePath) }}" alt="{{ animal.nameAnimal }}" class="img-thumbnail" width="100">
                    <div class="card-body">
                        <h5 class="card-title">{{ animal.nameAnimal }}</h5>
                        <p class="card-text">{{ animal.description }}</p>
                        
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-animal-details" data-bs-toggle="modal" data-bs-target="#modal-{{ animal.id }}" data-id="{{ animal.id }}" data-habitat="{{ habitat.name }}">
                            Détails
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modal-{{ animal.id }}" tabindex="-1" aria-labelledby="modalLabel-{{ animal.id }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-contentCard">
                                    <div class="modal-header">
                                        <h3 class="modal-title fs-5" id="modalLabel-{{ animal.id }}">{{ animal.nameAnimal }}</h3>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img class="cardModal-img" src="{{ asset('uploads/animals/mini/250x250-' ~ animal.images[0].getFilePath) }}" alt="{{ animal.nameAnimal }}" class="img-thumbnail" width="100">
                                        <p class="card-text">{{ animal.description }}</p>
                                        <h4>Comptes rendus</h4>
                                        <div class="table-responsive-modal">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Commentaire</th>
                                                        <th>Aliments donnés</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for report in reportsByAnimal[animal.id] %}
                                                        <tr>
                                                            <td>{{ report.date|date('d/m/Y H:i') }}</td>
                                                            <td>{{ report.comment }}</td>
                                                            <td>{{ report.idFoods.name }} - {{ report.weight }} {{ report.unit }}</td>
                                                        </tr>
                                                    {% else %}
                                                        <tr>
                                                            <td colspan="3">Aucun rapport disponible.</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>    
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
</section>
{% endblock %}