{% extends 'base.html.twig' %}

{% block title %}Jungle{% endblock %}

{% block body %}

<section class="titleServ">
    <h3 class="h3Hab">Jungle</h3>
    <div class="rectangle"></div>
</section>

<img class="habitat" src="{{ asset('/images/jungle/jungle.jpg') }}" alt="Entrée du zoo">
<div class="habitjung">
    <p>La jungle, caractérisée par un climat chaud et humide, abrite une faune et une flore
    incroyablement riches et variées.<br>
    La végétation y est luxuriante, avec des arbres imposants qui forment une canopée dense,
    empêchant parfois la lumière du soleil d'atteindre le sol. Parmi les espèces typiques,
    on trouve des arbres à feuilles persistantes, des palmiers, des lianes enchevêtrées,
    et des épiphytes comme les orchidées. Le sol est tapissé de fougères, mousses et champignons
    qui prospèrent dans l'humidité constante.<br>
    Les jungles abritent une biodiversité exceptionnelle, incluant des mammifères comme les tigres,
    jaguars, singes et tapirs. Les reptiles y sont omniprésents, avec des serpents, iguanes, et crocodiles.
    La canopée regorge d'oiseaux colorés comme les toucans, aras et colibris, tandis que les insectes,
    tels que les papillons, fourmis et cigales, pullulent dans l'ensemble de l'écosystème. Les rivières
    et mares sont peuplées d'espèces aquatiques comme les poissons, grenouilles et tortues.<br>
    Cette diversité unique fait de la jungle un écosystème vital pour l'équilibre de la planète,
    mais aussi un milieu fragile menacé par les activités humaines.</p>
</div>

<section class="latest-report">
    <h4>Dernier rapport vétérinaire sur cet habitat</h4>
    {% if latestReport %}
    <p>Dernier rapport vétérinaire pour cet habitat : {{ latestReport.date|date('d-m-Y H:i') }}</p>
    <p>{{ latestReport.comment }}</p>
{% else %}
    <p>Aucun rapport vétérinaire disponible pour cet habitat.</p>
{% endif %}
</section>


{# Cards d'animaux de la jungle #}
<section class="animaux">
    <div class="row">
        {% for animal in jungleAnimals %}
            <div class="card jungle">
                <img class="card-img" src="{{ asset('uploads/animals/mini/250x250-' ~ animal.images[0].getFilePath) }}" alt="{{ animal.nameAnimal }}" class="img-thumbnail" width="100">
                <div class="card-body">
                    <h5 class="card-title">{{ animal.nameAnimal }}</h5>
                    <p class="card-text">{{ animal.description }}</p>
                    
                    <!-- Button trigger modal -->
                    <button type="button" class="jungle btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-{{ animal.id }}">
                        Détails
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="modal-{{ animal.id }}" tabindex="-1" aria-labelledby="modalLabel-{{ animal.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-contentCard">
                                <div class="modal-header">
                                    <h3 class="modal-title fs-5" id="modalLabel-{{ animal.id }}">{{ animal.nameAnimal }}</h3>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img class="cardModal-img" src="{{ asset('uploads/animals/mini/250x250-' ~ animal.images[0].getFilePath) }}" alt="{{ animal.nameAnimal }}" class="img-thumbnail" width="100">
                                    <p class="card-text">{{ animal.description }}</p>
                                    <h4>Comptes rendus</h4>
                                    <div class="table-responsive-modal">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Commentaire</th>
                                                    <th>Aliments donnés</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for report in reportsByAnimal[animal.id] %}
                                                    <tr>
                                                        <td>{{ report.date|date('d/m/Y H:i') }}</td>
                                                        <td>{{ report.comment }}</td>
                                                        <td>{{ report.idFoods.name }} - {{ report.weight }} {{ report.unit }}</td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td colspan="3">Aucun rapport disponible.</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}